.container-not-found {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url('img/404.jpg');
  background-size: 100% 120%;
}

.text {
  color: black;
  flex-grow: 1;
  text-align: center;
  vertical-align: center;
  padding-top: 10%;
}

.text__p {
  font-size: 65px;
}
